* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background: url("../images/Gemini_Generated_Image_qe8vtnqe8vtnqe8v.png");
    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    height: 100vh;

    overflow: hidden;

}



.overlay {

    position: absolute;

    inset: 0;

    background: rgba(0, 0, 0, .25);

}



.login-card {

    position: relative;

    width: 380px;

    padding: 40px;

    border-radius: 20px;

    background: rgba(255, 255, 255, .12);

    backdrop-filter: blur(18px);

    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255, 255, 255, .4);

    box-shadow: 0 8px 32px rgba(0, 0, 0, .4);

    color: white;

}

/* اللوجو */

.logo {

    font-size: 45px;

    margin-bottom: 20px;

}

.white {

    color: white;

}

.blue {

    color: #1f8cff;

}

.logo i {

    color: #1f8cff;

    margin-right: 8px;

}

h2 {

    font-weight: bold;

}

p {

    color: #ddd;

    margin-bottom: 25px;

}

/* Inputs */

.form-control {

    background: rgba(255, 255, 255, .15);

    border: 1px solid rgba(255, 255, 255, .4);

    color: white;

    height: 50px;

}

.form-control::placeholder {

    color: #ddd;

}

.form-control:focus {

    background: rgba(255, 255, 255, .2);

    color: white;

    border-color: #1f8cff;

    box-shadow: none;

}

/* Button */

.btn-login {

    background: #1f8cff;

    color: white;

    border: none;

    height: 48px;

    border-radius: 8px;

    font-weight: bold;

}

.btn-login:hover {

    background: #0b74e5;

}

/* Links */

a {

    color: white;

    text-decoration: none;

}

a:hover {

    color: #1f8cff;

}